html,
body,
.app-root {
  margin: 0;
  padding: 0;
  inline-size: 100%;
  block-size: 100%;
}

html,
body {
  font-smooth: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

.app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}
